<%= render "shared/header" %>
  
  <div class="event-post-contents">
    <div class='event-form-wrap'>

      <%= render 'shared/error_messages', model: @event %>

      <%= form_with model: @event, url: journal_event_path, local: true do |f| %>

        <div class='form-header'>
          <h1 class='form-header-text'>
            イベント情報を入力
          </h1>
        </div>

        <div class="event-form-group">

          <%# 画像 %>
          <div class="img-upload">
            <div class="weight-bold-text">
              画像
              <span class="indispensable">必須</span>
            </div>
            <div class="click-upload">
              <p>
                クリックしてファイルをアップロード
              </p>
              <%= f.file_field :image, id:"event-image" %>
            </div>
          </div>
          <%# /画像 %>

          <%# 日付 %>
          <div class='weight-bold-text'>
            <label class="form-text">日付</label>
            <span class="indispensable">必須</span>
          </div>
          <div class='input-date-wrap'>
            <%= f.date_field :date, value: @journal.departure_date, min: @journal.departure_date, max: @journal.last_date, class:'select-date', id:"event-date" %>
          </div>
          <%# /日付 %>

          <%# 時間 %>
          <div class='weight-bold-text'>
            <label class="form-text">時間</label>
            <span class="indispensable">必須</span>
          </div>
          <div class='input-time-wrap'>
            <%= f.time_select :time, class:'select-time', prompt:'--', time_separator:"<p> 時 </p>" %><p> 分 </p>
          </div>
          <%# /時間 %>

          <%# 場所 %>
          <div>
            <div class="weight-bold-text">
              場所
              <span class="indispensable">任意</span>
            </div>
            <%= f.text_area :place, class:"event-text", id:"event-name", placeholder:"場所（任意 40文字まで)", maxlength:"40" %>
          </div>
          <%# /場所 %>
          
          <%# /コメント %>
          <div class="event-comment">
            <div class="weight-bold-text">
              コメント
              <span class="indispensable">必須</span>
            </div>
            <%= f.text_area :comment, class:"event-text", id:"event-info", placeholder:"コメント（必須 1,000文字まで）(例）空港に到着！" ,rows:"7" ,maxlength:"1000" %>
          </div>
          <%# /コメント %>

        </div>


        <%# 下部ボタン %>
        <div class="event-btn-contents">
          <%= f.submit "編集を完了する" ,class:"event-create-btn" %>
          <%=link_to 'もどる', journal_events_path, class:"top-back-btn" %>
        </div>
        <%# /下部ボタン %>

      <% end %>

    </div>
  </div>

<%= render "shared/footer" %>