<%= render "shared/header" %>

<div class='journal-event-main'>

  <div class='journal-event-info'>

    <div class='journal-event-header'>
      <div class='journal-event-info'>
        <div class='journal-event-title'>
          <span><%= @journal.title %></span>
        </div>
        <div class='journal-event-period'>
          <%= @journal.departure_date.strftime("%Y年%-m月%-d日") %> 〜 <%= @journal.last_date.strftime("%Y年%-m月%-d日") %>
        </div>
        <div class='journal-event-comment'>
          <%= @journal.comment %>
        </div>
      </div>
      <div class='journal-image'>
        <%= image_tag @journal.image, class: "journal-event-img" %>
      </div>
    
    </div>

    <%# 一覧 %>
      <div class='event-contents'>

        <div class='event-left-border'></div>

        <div class='event-lists'>
          <%if @events.present? %>
            <% @events.each do |event| %>
              <li class='event-list'>    

                <div class='event-content'>
                  <div class='event-img-content'>
                    <%= image_tag event.image, class: "event-img" %>
                  </div>

                  <div class='event-info'>
                    <div class='event-period'>
                      <span><%= event.date.strftime("%-m月%-d日") %></span>
                    </div>
                    <div class='event-time'>
                        <%= event.time.strftime('%H:%M') %>
                    </div>
                    <div class='event-place'>
                        <%= event.place %>
                    </div>
                    <div class='event-comment'>
                        <%= event.comment %>
                    </div>
                  </div>
                </div>

                <div class='event-btn'>
                  <%= link_to "編集", edit_journal_event_path(@journal, event), class:"event-edit-btn" %>
                  <%= link_to "削除", journal_event_path(@journal, event), method: :delete, class:"event-destroy-btn" %>
                </div>


              </li>
            <% end %>

          <% else %>
              <div class='none-event-info'>
                イベントがありません
              </div>
          <% end %>
        </div>

      </div>
    <%# /一覧 %>

  </div>

  <div class="event-btn-contents">
    <%= link_to(new_journal_event_path(@journal.id), class: 'event-create-btn') do %>
      <span class='event-create-text'>イベントを追加する</span>
    <% end %>
    <%=link_to 'トップページ', root_path, class:"top-back-btn" %>
  </div>

</div>

<%= render "shared/footer" %>