<%= render "shared/header" %>

<%# 投稿一覧 %>
  <div class='journal-contents'>
    <div class='journal-content-head'>
      <div class="subtitle" >
        旅記録一覧
      </div>
    </div>

    <ul class='journal-lists'>
      <% @journals.each do |journal| %>
        <li class='journal-list'>
          <%= link_to journal_events_path(journal.id), class:"journal-content" do %>
            <div class='journal-img-content'>
              <%= image_tag journal.image, class: "journal-img" %>
            </div>
            <div class='journal-info'>
              <h3 class='journal-title'>
                <%= journal.title %>
              </h3>
              <div class='journal-period'>
                <span><%= journal.departure_date.strftime("%Y年%-m月%-d日") %> 〜 <%= journal.last_date.strftime("%Y年%-m月%-d日") %></span>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<%# /投稿一覧 %>

<%# 下部ボタン %>
    <div class="pref-btn-contents">
      <%=link_to 'もどる', prefectures_path, class:"top-back-btn" %>
    </div>
<%# /下部ボタン %>

<%= render "shared/footer" %>