<div class='journal-img-content'>
  <%= image_tag @journal.image, class: "journal-img" %>

</div>
<div class='journal-info'>
  <h3 class='journal-title'>
    <%= @journal.title %>
  </h3>
  <div class='journal-period'>
    <span><%= @journal.departure_date %>〜<%= @journal.last_date %></span>
  </div>
</div>

<%=link_to 'もどる', root_path, class:"back-btn" %>